:root {
  --text-1: rgb(82, 78, 85); /* Original */
  --text-2: rgb(122, 117, 125); /* Slightly lighter */
  --background-1: rgb(255, 255, 255); /* Original */
  --background-2: rgb(240, 240, 240); /* Slightly lighter */
  --primary-1: rgb(186, 63, 248); /* Original */
  --primary-2: rgb(206, 123, 255); /* Slightly lighter */
  --secondary-1: rgb(219, 148, 255); /* Original */
  --secondary-2: rgb(235, 185, 255); /* Slightly lighter */
  --accent-1: rgb(255, 189, 66); /* Original */
  --accent-2: rgb(255, 211, 133); /* Slightly lighter */
}

[data-theme="dark"] {
  --text-1: rgb(174, 170, 177); /* Original */
  --text-2: rgb(204, 200, 207); /* Slightly lighter */
  --background-1: rgb(33, 33, 33); /* Original */
  --background-2: rgb(66, 66, 66); /* Slightly lighter */
  --primary-1: rgb(130, 7, 192); /* Original */
  --primary-2: rgb(170, 67, 230); /* Slightly lighter */
  --secondary-1: rgb(71, 0, 107); /* Original */
  --secondary-2: rgb(111, 40, 147); /* Slightly lighter */
  --accent-1: rgb(189, 123, 0); /* Original */
  --accent-2: rgb(219, 153, 30); /* Slightly lighter */
}
