:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: var(--text-1);
  background-color: var(--background-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0; 
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body { margin: 0}

.link-none { 
  text-decoration: none;
  color:inherit;
}

.container { 
  display: grid; 
  grid-template-rows: 1fr auto;
}

.container-nav { 
  border-bottom: 2px solid var(--primary-1); 
  padding-inline: clamp(1rem, 10vw, 5rem);
  
}

.container-body { 
  margin-top: 2rem;
  margin-inline:auto;
  width: 80vw; 
}

.card {
  padding: 2em;
}

.d-flex { display: flex;}
.justify-evenly {justify-content: space-evenly;}
.align-center {align-items: center;}

.gap-1 { gap: 1rem;}


/* Buttons */
.btn { 
  padding: 4px 16px; 
  border-radius: 20px; 
  color: var(--background-1); 
  background: var(--primary-1); 
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  text-align: center;
  min-width: 50px;
}

.btn:hover { 
  background: var(--primary-2); 
  color: var(--background-1);
  font-weight: bold;
}

.btn-secondary { 
  background: var(--background-1);
  border: 2px solid transparent; 
  box-shadow: 0 0 0 1px var(--primary-1);
  color: var(--text-1); 
}

.btn-secondary:hover { 
  background: var(--background-1);
  box-shadow: 0 0 0 2px var(--primary-2);
  color: var(--text-1); 
}

.btn-danger { 
  background: red;
  color: white;
}

.btn-danger:hover{
  background: rgb(243, 102, 102);
  color: white;
}

/* END OF Buttons */






@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light dark;
    color: var(--text-1);
    background-color: var(--background-1);
  }
}
