:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: var(--text-1);
  background-color: var(--background-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0; 
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body { margin: 0}

img { 
  max-height: 500px; 
  max-width: 300px; 
}

div:has(> img:only-child) {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.link-none { 
  text-decoration: none;
  color:inherit;
}

.link-none:hover { 
  color: var(--primary-1); 
}

.link-youtube:hover {color: rgb(255, 0, 51);}
.link-twitch:hover {color:#9147ff;}
.link-github:hover {color: #c9510c;}

.container { 
  display: grid; 
  grid-template-rows: 1fr auto;
}

.container-nav { 
  border-bottom: 2px solid var(--primary-1); 
  padding-inline: clamp(1rem, 10vw, 5rem);
  
}

.container-body { 
  margin-top: 2rem;
  margin-inline:auto;
  width: 80vw; 
}

.w-80ch { width: 80ch;}

.card {
  padding: 2em;
}

.d-flex { display: flex;}
.flex-column { flex-direction: column;}
.justify-evenly {justify-content: space-evenly;}
.justify-between {justify-content: space-between;}
.justify-center {justify-content: center;}
.align-center {align-items: center;}
.align-self-center { align-self: center;}

.gap-1 { gap: 1rem;}

.m-0 { margin: 0}
.m-1 { margin: 0.25rem;}
.m-2 { margin: 0.5rem;}
.m-3 { margin: 0.75rem;}
.m-4 { margin: 1rem;}
.m-5 { margin: 1.5rem;}
.mb-0 { margin-bottom: 0}
.mb-1 { margin-bottom: 0.25rem;}
.mb-2 { margin-bottom: 0.5rem;}
.mb-3 { margin-bottom: 0.75rem;}
.mb-4 { margin-bottom: 1rem;}
.mb-5 { margin-bottom: 1.5rem;}

.ms-auto {margin-left: auto}
.me-auto {margin-right: auto}
.m-auto {margin-inline: auto}

.cursor-pointer { cursor: pointer;}

/* Buttons */
.btn { 
  padding: 4px 16px; 
  border-radius: 20px; 
  color: var(--background-1); 
  background: var(--primary-1); 
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  text-align: center;
  min-width: 50px;
  max-width: max-content;
  outline: none;
  border: 2px solid transparent; 
}

.btn-sm { 
  font-size: 0.85rem;
  padding: 2px 8px;
}

.btn:hover { 
  background: var(--primary-2); 
  color: var(--background-1);
  font-weight: bold;
}

.btn-secondary { 
  background: var(--background-1);
  border: 2px solid transparent; 
  box-shadow: 0 0 0 1px var(--primary-1);
  color: var(--text-1); 
}

.btn-secondary:hover { 
  background: var(--background-1);
  box-shadow: 0 0 0 2px var(--primary-2);
  color: var(--text-1); 
}

.btn-danger { 
  background: red;
  color: white;
}

.btn-danger:hover{
  background: rgb(243, 102, 102);
  color: white;
}

/* END OF Buttons */






@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light dark;
    color: var(--text-1);
    background-color: var(--background-1);
  }
}
